:root {
  @apply font-lustria;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.character-hero {
  filter: blur(20px);
}

.accordion-item + .accordion-item {
  @apply mt-3;
}

.status {
  &.clipboard-list {
    @apply text-slate-500;
  }
  &.timer {
    @apply text-yellow-500;
  }
  &.calendar-clock {
    @apply text-blue-400;
  }
  &.check-circle-2 {
    @apply text-green-600;
  }
}

.status-false {
  @apply [&>img]:grayscale opacity-50;
}
